.carousel-item img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 991.98px) {
  .carousel-item img {
    height: 400px;
  }
}

/* Dark Dot */
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: none;
  margin: 0 6px;
  transition: opacity 0.3s;
}

/* Active Dot */
.carousel-indicators .active {
  opacity: 1;
  background-color: #f3777b;
}

/* Slider buttons */
.bi-chevron-left:hover, .bi-chevron-right:hover {
  color: #f3777b;
}

