.carousel-item img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  opacity: 90%;
  object-position: center center;
  transition: transform 0.5s ease;
}

.carousel-item img:hover {
  transform: scale(1.02);
}

@media (max-width: 991.98px) {
  .carousel-item img {
    height: 400px;
  }
}

/* Dark Dot */
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: none;
  margin: 0 6px;
  transition: opacity 0.3s;
}

/* Active Dot */
.carousel-indicators .active {
  opacity: 1;
  background-color: #f3777b;
}

/* Slider buttons */
.bi-chevron-left:hover, .bi-chevron-right:hover {
  color: #f3777b;
}

