/* End User Class Style */
.Enduser-App {
  min-height: 100vh;
  color: white;
}

.Enduser-App::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/enduser-background-img.jpg");
  background-size: cover;
  background-position: center;
  opacity: 75%;
  z-index: -1;
}

/* Admin Class Style */
.Admin-App {
  min-height: 100vh;
  color: white;
}

/* Super Admin Class Style */
.Superadmin-App {
  min-height: 100vh;
  color: white;
}