/* End User Class Style */
.Enduser-App {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Enduser-App::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/enduser-background-img.jpg");
  background-size: cover;
  background-position: center;
  opacity: 75%;
  z-index: -1;
}

/* Admin Class Style */
.Admin-App {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* Super Admin Class Style */
.Superadmin-App {
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}