/* Rich text editor's HTML view */
.rich-text-display img {
  width: 100%;
  border-radius: 5px;
}

.rich-text-display iframe {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.rich-text-display h1,
.rich-text-display h2,
.rich-text-display h3,
.rich-text-display p,
.rich-text-display img,
.rich-text-display iframe,
.rich-text-display strong, 
.rich-text-display em, 
.rich-text-display u, 
.rich-text-display li {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.rich-text-display a {
  color: #f3777b;
  padding: 0;
  margin: 0;
}

.rich-text-display .ql-align-center {
  text-align: center;
}
.rich-text-display .ql-align-right {
  text-align: right;
}
.rich-text-display .ql-align-justify {
  text-align: justify;
}

.rich-text-display h1 {
  font-size: clamp(28px, 3vw, 32px);   /* 28px → 32px */
}

.rich-text-display h2 {
  font-size: clamp(24px, 3vw, 28px);   /* 24px → 28px */
}

.rich-text-display h3 {
  font-size: clamp(20px, 2vw, 24px);   /* 20px → 24px */
}

.rich-text-display p {
  font-size: clamp(16px, 2vw, 20px);   /* 16px → 20px */
}

.rich-text-display h1,
.rich-text-display h2,
.rich-text-display h3,
.rich-text-display p {
  font-weight: 200;
}

.rich-text-display strong {
  font-weight: 500;
}
