/* Rich text editor's HTML view */
.rich-text-display img {
  width: 100%;
  border-radius: 5px;
}

.rich-text-display iframe {
  width: 100%;
  height: 500px;
  border-radius: 5px;
}

.rich-text-display h1,
.rich-text-display h2,
.rich-text-display h3,
.rich-text-display p,
.rich-text-display img,
.rich-text-display iframe,
.rich-text-display strong, 
.rich-text-display em, 
.rich-text-display u, 
.rich-text-display li {
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.rich-text-display a {
  color: #f3777b;
  padding: 0;
  margin: 0;
}

.rich-text-display .ql-align-center {
  text-align: center;
}
.rich-text-display .ql-align-right {
  text-align: right;
}
.rich-text-display .ql-align-justify {
  text-align: justify;
}

/* 3D Model */
.shipmodel {
  height: 100vh;
}

/* 3D Model Text*/
.overlay-text {
  position: absolute;
  top: 25px;
  left: 25px;
  color: #ffffff;
  text-shadow:
    3px 3px 0px #1e90ff,
    -1px -1px 0px #1e90ff,
    1px -1px 0px #1e90ff,
    -1px 1px 0px #1e90ff,
    0 0 15px rgba(30, 144, 255, 0.5);
  z-index: 5;
}

/* 3D Model Typing Animation */
.typing-animation-line1 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: monospace;
  border-right: 5px solid #ffffff;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  animation: typingline1 10s steps(18, end) infinite,
             cursor1 .4s step-end infinite alternate;
}

.typing-animation-line2 {
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: monospace;
  border-right: 5px solid #ffffff;
  white-space: nowrap;
  font-weight: bold;
  overflow: hidden;
  animation: typingline2 10s steps(17, end) infinite,
             cursor2 .4s step-end infinite alternate;
}

@keyframes cursor1 {
  50% { border-color: transparent }
}

@keyframes cursor2 {
  50% { border-color: transparent }
}

@keyframes typingline1 {
  0%   { width: 0 }
  20%  { width: 100% }
  70%  { width: 100% }
  90% { width: 0 }
  100% { width: 0 }

  /* cursor */
  0% { border-right: 5px solid #ffffff }
  40% { border-right: none }
  100% { border-right: 5px solid #ffffff }
}

@keyframes typingline2 {
  0%, 20% { width: 0 }
  40%     { width: 100% }
  50%     { width: 100% }
  70%     { width: 0 }
  100%    { width: 0 }

  /* cursor */
  0% { border-right: none }
  40% { border-right: 5px solid #ffffff }
  100% { border-right: none }
}

@media (max-width: 991px) {
  .shipmodel {
    height: 70vh;
  }

  .overlay-text {
    top: 10px;
    left: 10px;
  }
}
