/* Navbar */
.header .custom-navbar {
  background-color: #1b3754 !important;
  position: relative;
  z-index: 1;
}

/* Logo */
.header .navbar-App-logo {
  width: 55px;
}

.header .custom-nav .nav-link,
.header .custom-navbar .dropdown-toggle,
.header .custom-navbar .dropdown-item {
  color: #ffffff !important;
  font-weight: 700;
  font-size: 22px;
  transition: color 0.3s ease;
}

/* Dropdown */
.header .dropdown-menu {
  background-color: #1b3754 !important;
  border: 2px solid #ffffff;
}

@media (max-width: 991.98px) {
  .header .dropdown-menu {
    border: 0px;
    padding-top: 0px;
  }
}

.header .dropdown-item:hover {
  background-color: transparent !important;
}

.header .dropdown-item.active {
  background-color: transparent !important;
}

.header .dropdown-divider {
  background-color: #ffffff;
  height: 2px;
}

/* Hide the default dropdown icon */
.header .caret-down .dropdown-toggle::after {
  display: none !important;
}

/* Hover */
.header .custom-nav .nav-link:hover,
.header .custom-navbar .dropdown-toggle:hover,
.header .custom-navbar .dropdown-item:hover {
  color: #f3777b !important;
}

/* Active */
.header .custom-nav .nav-link.active,
.header .custom-navbar .dropdown.active > .dropdown-toggle {
  color: #f3777b !important;
}

 /* Navbar Toggle */
.header .nav-toggle {
  border-color: #f3777b;
  color: #f99a9d;
}

.header .nav-toggle-icon {
  color: #f3777b;
}