.post-grid .post-grid-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.post-grid .post-grid-post {
  transition: transform 0.5s ease, filter 0.5s ease;
}

.post-grid .post-grid-post:hover {
  transform: scale(1.02);
  filter: brightness(90%);
}

/* Pagination Buttons */
.post-grid .pagination-btn .bi-chevron-left:hover,
.post-grid .pagination-btn .bi-chevron-right:hover {
  color: #ffffff;
}

.post-grid .pagination-btn {
  color: #ffffff;
  border-radius: 50%;
}

.post-grid .pagination-btn.active {
  background-color: #f3777b;
  color: #ffffff;
  border-radius: 50%;
}
