.modal-xl .modal-body {
  color: white;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("../../assets/enduser-background-img.jpg");
  background-size: cover;
  background-position: center;
}