/* Search Bar */
.search-component .search-input {
  border-radius: 50px;
  border: 2px solid #f3777b;
}

.search-component .search-input:focus {
  border-color: #f3777b;
  box-shadow: 0 0 0 0.1rem #f99a9d;
}

/* Remove clear icon */
.search-component .search-input::-webkit-search-cancel-button {
  display: none;
}

.search-component .search-icon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #808080;
  pointer-events: none;
}