.slider .carousel-item img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  filter: brightness(80%);
  object-position: center center;
}

.slider .carousel-item {
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.slider .carousel-item:hover {
  transform: scale(1.02);
  filter: brightness(90%);
}

@media (max-width: 991.98px) {
  .slider .carousel-item img {
    height: 400px;
  }
}

/* Dark Dot */
.slider .carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: none;
  margin: 0 6px;
  transition: opacity 0.3s;
}

/* Active Dot */
.slider .carousel-indicators .active {
  opacity: 1;
  background-color: #f3777b;
}

/* Slider buttons */
.slider .bi-chevron-left,
.slider .bi-chevron-right {
  color: #ffffff;
}

.slider .bi-chevron-left:hover,
.slider .bi-chevron-right:hover {
  color: #f3777b;
}

.slider .carousel-control-prev,
.slider .carousel-control-next {
  opacity: 1 !important;
}
