.carousel-item img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  opacity: 90%;
  object-position: center center;
}

.carousel-item {
  cursor: pointer;
  transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-item:hover {
  transform: scale(1.02);
  filter: brightness(0.9);
}


@media (max-width: 991.98px) {
  .carousel-item img {
    height: 400px;
  }
}

/* Dark Dot */
.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffffff;
  opacity: 0.5;
  border: none;
  margin: 0 6px;
  transition: opacity 0.3s;
}

/* Active Dot */
.carousel-indicators .active {
  opacity: 1;
  background-color: #f3777b;
}

/* Slider buttons */
.bi-arrow-left-short, .bi-arrow-right-short {
  color: #ffffff;
  background-color: #000000;
  border-radius: 10%;
}

.bi-arrow-left-short:hover, .bi-arrow-right-short:hover {
  color: #f3777b;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1 !important;
}
